<?xml version="1.0" ?>
<launch>
	<!-- arguments -->
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<!-- launch empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find hdt_6dof_description)/worlds/hdt_6dof.world"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<!-- load urdf -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find hdt_6dof_description)/urdf/hdt_6dof.xacro'"/>

	<!-- spawn robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model hdt_6dof -param robot_description"/>

</launch>
